@font-face {
  font-family: "Vision Bold";
  src: url("/fonts/Vision-Bold.otf")
 }
 @font-face {
  font-family: "Vision Heavy";
  src: url("/fonts/Vision-Heavy.otf")
 }
 @font-face {
  font-family: "Vision";
  src: url("/fonts/Vision.otf")
 }
 @font-face {
  font-family: "Vision Light";
  src: url("/fonts/Vision-Light.otf")
 }

 /* Brand Colors
 GRAY: #e8e8ea
 Dark Blue/ Black: #1a1e28
 Red: #fe4c59
 Variant Red: #ff626b
 Variant Gray: #c9c8c9i */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
    letter-spacing: 1px;
    font-size: 12px!important;
    background-color: #c2c7c8!important;
    /* color: rgba(0, 0, 0, 0.87); */
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    
}
/* HOME */


/* Slideshow */
.slideshow {
	position: relative;
	/* top: 0;
	left: 0; */
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	pointer-events: none;
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

/* .slide--current {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
} */

.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.slide__bg--6 {
	background-color: #1a1e28;
}

/* Word + SVG styles */
.word {
	position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: -50px; */
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 10vw;
    font-weight: 400;
}

.word span {
	display: block;
	position: relative;
	flex: none;
	white-space: pre;
}

.shapes {
	position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
	left: 0;
}
.word--6 .char5,
.word--6 .char9 {
	color: #fe4c59;
}
a, a:hover {
    
    text-decoration: none;
}

a {
  color: black!important;
}
h2, h3, h4, h5, h6, .ui.header {
  font-family: "Vision";
}
h1 {
  font-family: "Vision Bold";
}
h2 {
  font-weight: bold;
  font-size: 42px;
} 
.brief h3 {
  font-size: 36px;
  font-weight: bold;
} 
h4 {

}
.title_bg {
    /* background-color: black; */
    padding: 20px!important;
    width: max-content;
    color: white!important;

}
.circular.inverted.segment a {
  color: white!important;
}
#SiteNav {
  margin: 0;
  background: white;
}
.siteLogo {
  padding-bottom: 5px!important;
}
/* Side Nav */



.site-intro {
  display: block;
  margin: auto;
  position: relative;
  
}
#splash {
  background-color: #1a1e28;
  min-height: 450px;
  height: 100%;
  color: white;
  
}
#footer {
  background-color: #1a1e28;
}
.brief-info {
  padding: 20px;
  text-align: center;
}
.brief-info h2 {
  font-size: 8vh!important;
  font-family: "Vision Heavy"!important;
}
.brief-info p {
  font-size: 2vh!important;
}

#splash  h1 {
  font-family: "Vision Heavy"!important;
  
 }
 #splash  h3 {
  color: #fe4c59;
 }
 h2.ui.icon.header {
   margin: 20px;
 }

  #mainNav {
    position: relative;
  }
  #fixedNav, #mainNav {
    background-color: #333;
    color: #fff;      
    z-index: 100;
  }
  #signUpMenu {
      position: absolute;
      bottom: 200px;
      padding: 40px auto 0;
      /* display: flex; */
      text-align: center;
      width: 100%;
  }
  #signUpMenu h2, #signUpMenu .icon, #signUpMenu a {
    color: white!important;
  }
  #signUpMenu button {
      margin: 10px;
      background: white;
      border: 2px solid #333;
      color: black;
  }

  .listen_and_earn, .artist_first  {
    padding: 0 40px;
    clear: both;
  }
  .artist_first img, .listen_and_earn img {
      float: left;
      margin: 10px;
  }
  .artist_first p, .listen_and_earn p  {
      padding: 10px;
  }
  .artist_first button, .listen_and_earn button {
      clear: both!important;
  }
  .brief {
    min-height: 300px;
    height: 100%;
  }
  .brief .btn {
    background: #6fe0de;
    color: white;
  }
  #ArtistSignUp {
      /* height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: url(/headphones-min.jpg);
      background-size: cover;
      background-position: center; */
  }

  /* Loader */
   
  #logoAnimation {
    position: absolute;
    top: 25%;
    left: -80px;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .gradient {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    fill: url('#gradient-fill');
  }
  .square {
    animation-iteration-count: infinite;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
  }
  
  .s1 {
    animation-name: slide-1;
  }
  
  .s2 {
    animation-name: slide-2;
  }
  
  .s3 {
    animation-name: slide-3;
  }
  
  .s4 {
    animation-name: slide-4;
  }
  
  .s5 {
    animation-name: slide-5;
  }
  
  .s6 {
    animation-name: slide-6;
  }
  
  .s7 {
    animation-name: slide-7;
  }
  
  @keyframes slide-1 {
    37.5% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(100px);
    }
  }
  
  @keyframes slide-2 {
    25% {
      transform: translateX(0px);
    }
    37.5% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(100px);
    }
  }
  
  @keyframes slide-3 {
    12.5% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(100px);
    }
  }
  
  @keyframes slide-4 {
    50% {
      transform: translateY(0px);
    }
    62.5% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  @keyframes slide-5 {
    12.5% {
      transform: translate(-100px, 0px);
    }
    87.5% {
      transform: translate(-100px, 0px);
    }
    100% {
      transform: translate(-100px, 100px);
    }
  }
  
  @keyframes slide-6 {
    62.5% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
  
  @keyframes slide-7 {
    75%  {
      transform: translateX(0px);
    }
    87.5% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(-100px);
    }
  }
  


   
  
  .space {
    height: 1000px;
    display: block;
  }
  
  @-webkit-keyframes pump {
    33% {
      border-radius: 100%;
      background: rebeccapurple;
    }
    66% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      background: #fff;
      -webkit-box-shadow: 0 0 0 6px black;
              box-shadow: 0 0 0 6px black;
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  
  @keyframes pump {
    33% {
      border-radius: 100%;
      background: rebeccapurple;
    }
    66% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
      background: #fff;
      -webkit-box-shadow: 0 0 0 6px black;
              box-shadow: 0 0 0 6px black;
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  

  /* MUSIC PLAYER ANIMATION */

.har-loader {
    margin: 100px auto;
    width: 100px;
    height: 60px;
    text-align: center;
    /* display: none; */
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .har-loader div {
    margin: 0 1.5px;
    background-color: #333;
    height: 100%;
    width: 6px;
    background: #e91e63;
    vertical-align: middle;
    border-radius: 10px;
    display: inline-block;
    -webkit-animation: har-loader-stretch 2s infinite ease-in-out;
    animation: har-loader-stretch 2s infinite ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .har-loader .har-sound-5 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .har-loader .har-sound-4, .har-loader .har-sound-6 {
    -webkit-animation: har-loader-stretch-twice 2s infinite ease-in-out;
    animation: har-loader-stretch-twice 2s infinite ease-in-out;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .har-loader .har-sound-2, .har-loader .har-sound-8 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .har-loader .har-sound-1, .har-loader .har-sound-9 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .har-loader .har-sound-3, .har-loader .har-sound-7 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  
  @keyframes har-loader-stretch-twice {
    0%, 35%, 70%, 100% {
      height: 15px;
    }
    20%, 50% {
      height: 60px;
    }
  }
  @-webkit-keyframes har-loader-stretch {
    0%, 40%, 100% {
      height: 15px;
    }
    20% {
      height: 60px;
    }
  }
  @keyframes har-loader-stretch {
    0%, 40%, 100% {
      height: 15px;
    }
    20% {
      height: 60px;
    }
  }

  
  



  /* Artist OnBoarding */
  #OnboardArtist .ui.steps .step, #ArtistSignUp .ui.steps .step {
    display: block;
  }

  .block_party_svg {
    height: 100px;
    display: block;
    margin: 10px auto 20px;
    width: 100px;
  }

  /* Browse */
   /* Brand Colors
 GRAY: #e8e8ea
 Dark Blue/ Black: #1a1e28
 Red: #fe4c59
 Variant Red: #ff626b
 Variant Gray: #c9c8c9i */

#Browse {
  position: relative;
}
.scroll.nav-stacked.nav-active-primary {

}
.navside .nav li {
  color: white;
}
.navside .nav li .nav-icon i.icon {
  color: #ff626b;
}
.item-media img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* PLAYER -- FOOTER PLAYER */
#FooterPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1030 !important;
}

/* Dashboard */
#Dashboard {
  height: 100vh;
  overflow: hidden;
}
#IndustryData, #payOutData {
  /* margin: auto;
  display: block;
  width: max-content; */
  margin: 20px;
}
#SideBarDashboard {
  background-color: #1a1e28!important;
  position: fixed!important;
  height: 100vh!important;
}
#SideBarDashboard.ui.inverted.vertical.labeled.icon.ui.push.left.wide.visible.sidebar.menu{
  
  background-color: #1a1e28!important;
  position: fixed!important;
  height: 100vh!important;
}
#Dashboard .wrap {
  width: 76%;
}
.wrap .ui.stacked.bottom.attached.segment {

}
#Dashboard .pusher {
  overflow: hidden;
  height: 100vh;
}
#SideBarDashboard .card .item {
  color: #1a1e28!important;
  text-align: left;
}
/* PORTFOLIO */
.stream-column, .wrap .ui.stacked.bottom.attached.segment {
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.wrap .ui.stacked.bottom.attached.segment:after, .wrap .ui.stacked.bottom.attached.segment:before, .wrap .ui.stacked.bottom.attached.segments:after, .wrap .ui.stacked.bottom.attached.segments:before {
  display: none;
}
.label {
  font-size: 100%;
}
/* GENRE CHART */
.chart_container {
  width: 100%;
  /* height: 300px; */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 200px 50px;
  
 
}
.genre-chart, .artist-chart {
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
}
.ct-chart-donut {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* transform: translateX(-50%); */
  /* transform: translateX(40%); */
}
.ct-label {

  font-size: 12px;
  /* text-shadow: 1px 1px 1px gray; */
  margin: 15px!important;
  fill: #A8A8AF;
  line-height: 16px;
}
.chart-data__header--genre {

}
.chart-data__header--artist {

}
.graph-artist path {
  fill: #1a1e28;
  /* opacity: .5; */
  border-color: white;
}
.indie path, .graph-artist:nth-of-type(1) path {
  fill: #ff626b;
  opacity:1;
}
.pop path, .graph-artist:nth-of-type(2) path {
  fill: #fe4c59;
  opacity:1;
}
.dance path, .graph-artist:nth-of-type(3) path {
  fill: #fe4c59;
  opacity:1;
}
.rock path {
  fill: #1a1e28;
  opacity:1;
}
.folk path {
  fill: #9E959E;
  opacity:1;
}
.graph-artist:nth-of-type(4) path {
  fill: #E84954;
  opacity:1;
}
.graph-artist:nth-of-type(5) path {
  fill: #DC4B55;
  opacity:1;
}
.graph-artist:nth-of-type(6) path {
  fill: #C84F58;
  opacity:1;
}
.graph-artist:nth-of-type(7) path {
  fill: #B74952;
  opacity:1;
}
.graph-artist:nth-of-type(8) path {
  fill: #A9474F;
  opacity:1;
}
.graph-artist:nth-of-type(9) path {
  fill: #974C53;
  opacity:1;
}
.graph-artist:nth-of-type(10) path {
  fill: #955A60;
  opacity:1;
}
.graph-artist:nth-of-type(12) path {
  fill: #936367;
  opacity:1;
}
.graph-artist:nth-of-type(6) path {
  fill: #936B6F;
  opacity:1;
}
.graph-artist:nth-of-type(7) path {
  fill: #927275;
  opacity:1;
}
.graph-artist:nth-of-type(8) path {
  fill: #947C7E;
  opacity:1;
}
.graph-artist:nth-of-type(9) path {
  fill: #9A8B8C;
  opacity:1;
}
.graph-artist:nth-of-type(10) path {
  fill: #c9c8c9;
  opacity:1;
}
.graph-artist:nth-of-type(11) path {
  
  fill: #B7B3B7;
  opacity:1;
}
.graph-artist:nth-of-type(12) path {
  
  fill: #c9c8c9;
  opacity:1;
}
.graph-artist:nth-of-type(13) path {
  
  
  fill: #464C5B;
  opacity:1;
}
.graph-artist:nth-of-type(14) path {
  
  
  fill: #424A5F;
  opacity:1;
}
.graph-artist:nth-of-type(15) path {
  
  opacity:1;
  fill: #3D4660;
  
}
.graph-artist:nth-of-type(16) path {
  
  
  fill: #394462;
  opacity:1;
}
.graph-artist:nth-of-type(17) path {
  
  
  fill: #354367;
  opacity:1;
}
.graph-artist:nth-of-type(18) path {
  
  
  fill: #33436F;
  opacity:1;
}

svg:not(:root), svg {
  overflow: visible!important;
}
  
/* ARTIST SIGN UP */
#ArtistSignUp .grid .message .header, .signup-form .segment label {
  color: white!important;
}
.signup-form, .signup-form .segment, #ArtistSignUp .grid .message {
  background-color: #1a1e28!important;
}
.signup-form--artist .segment .header {
  color: #fe4c59;
}

/* ARTIST ON BOARD */
.artist-menu, .artist-menu__column, .artist-inner-dashboard {
  height: 90vh;
  overflow-y: hidden;
}
.artist-inner-dashboard {
  background: #f1f2f4;
}
.ui.tertiary.inverted.segment {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.artist-menu__column {

}
.artist-menu {

}
.section-header--artist {
  background-color: #c9c8c9;
}

.button-cancel {
  background-color: #ff626b!important;
  color: white!important;
}
.button-upload {
  background-color: #1a1e28!important;
  color: white!important;
}
#ArtistUploads {
  padding: 0 40px;
}
.ui.vertical.right.tabular.menu {
  border-left: none!important;
}
#SideBarDashboard .item {
  position: relative;
  
}
#SideBarDashboard .item a {
  color: white!important;
}
.profile-popup {
  position: absolute;
  top: 50px;
  left: 300px;
}
.profile-card {
  
  margin: auto!important;
}

.dropzone--song {
  border: none;
  width: 100%;
  height: auto;
}