@font-face {
  font-family: "Vision Bold";
  src: url("/fonts/Vision-Bold.otf")
 }
 @font-face {
  font-family: "Vision Heavy";
  src: url("/fonts/Vision-Heavy.otf")
 }
 @font-face {
  font-family: "Vision";
  src: url("/fonts/Vision.otf")
 }
 @font-face {
  font-family: "Vision Light";
  src: url("/fonts/Vision-Light.otf")
 }

 /* Brand Colors
 GRAY: #e8e8ea
 Dark Blue/ Black: #1a1e28
 Red: #fe4c59
 Variant Red: #ff626b
 Variant Gray: #c9c8c9i */

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
    letter-spacing: 1px;
    font-size: 12px!important;
    /* background-color: #c2c7c8!important; */
    /* color: rgba(0, 0, 0, 0.87); */
    -webkit-font-smoothing: antialiased;
    font-size: 0.875rem;
    
}
a, a:hover {
  
  text-decoration: none;
}


  /* Artist OnBoarding */
  #OnboardArtist .ui.steps .step, #ArtistSignUp .ui.steps .step {
    display: block;
  }

  .block_party_svg {
    height: 100px;
    display: block;
    margin: 10px auto 20px;
    width: 100px;
  }

  /* Browse */
   /* Brand Colors
 GRAY: #e8e8ea
 Dark Blue/ Black: #1a1e28
 Red: #fe4c59
 Variant Red: #ff626b
 Variant Gray: #c9c8c9i */

#Browse {
  position: relative;
}
.scroll.nav-stacked.nav-active-primary {

}
.navside .nav li {
  color: white;
}
.navside .nav li .nav-icon i.icon {
  color: #ff626b;
}
.item-media img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}


/* PLAYER -- FOOTER PLAYER */
#FooterPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 1030 !important;
}

/* Dashboard */
#Dashboard {
  height: 100vh;
  overflow: hidden;
}
#IndustryData, #payOutData {
  /* margin: auto;
  display: block;
  width: max-content; */
  margin: 20px;
}
#SideBarDashboard {
  background-color: #1a1e28!important;
  position: fixed!important;
  height: 100vh!important;
}
#SideBarDashboard.ui.inverted.vertical.labeled.icon.ui.push.left.wide.visible.sidebar.menu{
  
  background-color: #1a1e28!important;
  position: fixed!important;
  height: 100vh!important;
}
#Dashboard .wrap {
  width: 76%;
}
.wrap .ui.stacked.bottom.attached.segment {

}
#Dashboard .pusher {
  overflow: hidden;
  height: 100vh;
}
#SideBarDashboard .card .item {
  color: #1a1e28!important;
  text-align: left;
}
/* PORTFOLIO */
.stream-column, .wrap .ui.stacked.bottom.attached.segment {
  height: 80vh;
  overflow-y: scroll;
  padding-bottom: 100px;
}
.wrap .ui.stacked.bottom.attached.segment:after, .wrap .ui.stacked.bottom.attached.segment:before, .wrap .ui.stacked.bottom.attached.segments:after, .wrap .ui.stacked.bottom.attached.segments:before {
  display: none;
}
.label {
  font-size: 100%;
}
/* GENRE CHART */
.chart_container {
  width: 100%;
  /* height: 300px; */
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0 200px 50px;
  
 
}
.genre-chart, .artist-chart {
  height: 100%;
  width: 100%;
  margin: auto;
  display: block;
}
.ct-chart-donut {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* transform: translateX(-50%); */
  /* transform: translateX(40%); */
}
.ct-label {

  font-size: 12px;
  /* text-shadow: 1px 1px 1px gray; */
  margin: 15px!important;
  fill: #A8A8AF;
  line-height: 16px;
}
.chart-data__header--genre {

}
.chart-data__header--artist {

}
.graph-artist path {
  fill: #1a1e28;
  /* opacity: .5; */
  border-color: white;
}
.indie path, .graph-artist:nth-of-type(1) path {
  fill: #ff626b;
  opacity:1;
}
.pop path, .graph-artist:nth-of-type(2) path {
  fill: #fe4c59;
  opacity:1;
}
.dance path, .graph-artist:nth-of-type(3) path {
  fill: #fe4c59;
  opacity:1;
}
.rock path {
  fill: #1a1e28;
  opacity:1;
}
.folk path {
  fill: #9E959E;
  opacity:1;
}
.graph-artist:nth-of-type(4) path {
  fill: #E84954;
  opacity:1;
}
.graph-artist:nth-of-type(5) path {
  fill: #DC4B55;
  opacity:1;
}
.graph-artist:nth-of-type(6) path {
  fill: #C84F58;
  opacity:1;
}
.graph-artist:nth-of-type(7) path {
  fill: #B74952;
  opacity:1;
}
.graph-artist:nth-of-type(8) path {
  fill: #A9474F;
  opacity:1;
}
.graph-artist:nth-of-type(9) path {
  fill: #974C53;
  opacity:1;
}
.graph-artist:nth-of-type(10) path {
  fill: #955A60;
  opacity:1;
}
.graph-artist:nth-of-type(12) path {
  fill: #936367;
  opacity:1;
}
.graph-artist:nth-of-type(6) path {
  fill: #936B6F;
  opacity:1;
}
.graph-artist:nth-of-type(7) path {
  fill: #927275;
  opacity:1;
}
.graph-artist:nth-of-type(8) path {
  fill: #947C7E;
  opacity:1;
}
.graph-artist:nth-of-type(9) path {
  fill: #9A8B8C;
  opacity:1;
}
.graph-artist:nth-of-type(10) path {
  fill: #c9c8c9;
  opacity:1;
}
.graph-artist:nth-of-type(11) path {
  
  fill: #B7B3B7;
  opacity:1;
}
.graph-artist:nth-of-type(12) path {
  
  fill: #c9c8c9;
  opacity:1;
}
.graph-artist:nth-of-type(13) path {
  
  
  fill: #464C5B;
  opacity:1;
}
.graph-artist:nth-of-type(14) path {
  
  
  fill: #424A5F;
  opacity:1;
}
.graph-artist:nth-of-type(15) path {
  
  opacity:1;
  fill: #3D4660;
  
}
.graph-artist:nth-of-type(16) path {
  
  
  fill: #394462;
  opacity:1;
}
.graph-artist:nth-of-type(17) path {
  
  
  fill: #354367;
  opacity:1;
}
.graph-artist:nth-of-type(18) path {
  
  
  fill: #33436F;
  opacity:1;
}

svg:not(:root), svg {
  overflow: visible!important;
}
  
/* ARTIST SIGN UP */
#ArtistSignUp .grid .message .header, .signup-form .segment label {
  color: white!important;
}
.signup-form, .signup-form .segment, #ArtistSignUp .grid .message {
  background-color: #1a1e28!important;
}
.signup-form--artist .segment .header {
  color: #fe4c59;
}

/* ARTIST ON BOARD */
.artist-menu, .artist-menu__column, .artist-inner-dashboard {
  height: 90vh;
  overflow-y: hidden;
}
.artist-inner-dashboard {
  background: #f1f2f4;
}
.ui.tertiary.inverted.segment {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.artist-menu__column {

}
.artist-menu {

}
.section-header--artist {
  background-color: #c9c8c9;
}

.button-cancel {
  background-color: #ff626b!important;
  color: white!important;
}
.button-upload {
  background-color: #1a1e28!important;
  color: white!important;
}
#ArtistUploads {
  padding: 0 40px;
}
.ui.vertical.right.tabular.menu {
  border-left: none!important;
}
#SideBarDashboard .item {
  position: relative;
  
}
#SideBarDashboard .item a {
  color: white!important;
}
.profile-popup {
  position: absolute;
  top: 50px;
  left: 300px;
}
.profile-card {
  
  margin: auto!important;
}

.dropzone--song {
  border: none;
  width: 100%;
  height: auto;
}